@import '~@lululemon/ecom-pattern-library/lib/styles/includes.scss';
@import '../../styles/variables.scss';

.text {
  font-size: rem(18);
  color: $colorTextGray;
  margin-top: 0;
  margin-bottom: 0;

  &MarginTopNone {
    margin-top: 0 !important;
  }

  // TODO: Work with design to figure out our standard spacing sizes
  &MarginBottomNone {
    margin-bottom: 0 !important;
  }

  &MarginTopSmall {
    margin-top: rem(8) !important;
  }

  &MarginBottomSmall {
    margin-bottom: rem(8) !important;
  }

  &MarginTopMedium {
    margin-top: rem(16) !important;
  }

  &MarginBottomMedium {
    margin-bottom: rem(16) !important;
  }

  &MarginTopLarge {
    margin-top: rem(32) !important;
  }

  &MarginBottomLarge {
    margin-bottom: rem(32) !important;
  }
}
